<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>General questions: </h1>
      <h3>What is a "gazetteer"?</h3>
      <p>
        Most people may think of "gazette," as in a newspaper, but a gazetteer is actually completely different.
        As early as Ancient Greece, gazetteers were publications that contained geographic and demographic information
        about a location.  Gazetteer HK is a modern day version of this concept, collecting a variety of data sources
        into a single unified and standardized database, available for anyone to use as a basis for their use case.
      </p>
      <p>
        See the Wikipedia entry in <a href="http://en.wikipedia.org/wiki/Gazetteer">English</a> and <a href="http://zh.wikipedia.org/wiki/%E5%9C%B0%E6%96%B9%E5%BF%97">Chinese</a> for more history about gazetteers.
      </p>

      <h3>What kind of use cases are there for Gazetter HK?</h3>
      <p>
      </p>

      <h3>How much does it cost to use the API?</h3>
      <p>
        Nothing!  At the moment, we don't have plans to charge for API usage.  Our project is also fully open source,
        and contains the scripts necessary to generate our full dataset.
      </p>

      <h3>How do I use this?</h3>
      <p>
        If you're interested in seeing visualizations of the data, check out some of our pre-made apps,
        such as the <a href="#/profiles">Neighborhood Profiles</a>a>, or the <a href="#/choropleth">Data Mapper</a>.
      </p>
      <p>
        If you're interested in using the API, check out the <a href="#/browser">Data Browser</a> for documentation,
        and visit our <a href="https://github.com/gazetteerhk/census_explorer">GitHub page</a> for the source code.
      </p>

      <h3>Can I help contribute?</h3>
      <p>
        Absolutely. Check out some of the issues on our issue tracker, fork the code on Github and send a pull request.
        If you have any questions, get in touch with us at <a href="mailto:contact@gazetter.hk">contact@gazetteer.hk</a>.
      </p>

      <h3>
        What's your stack?
      </h3>
      <p>
        Our backend API was built with Python using <a href="http://flask.pocoo.org" target="_blank">Flask</a>.
        Flask interacts directly with a <a href="http://pandas.pydata.org" target="_blank">pandas</a> DataFrame to query
        the data, so there is no database involved.
      </p>

      <p>
        Our frontend is built primarily using <a href="http://angularjs.org" target="_blank">AngularJS</a>,
        <a href="http://leafletjs.org" target="_blank">Leaflet</a>, and <a href="http://dimplejs.org" target="_blank">
        dimple</a>, which builds on top of the D3js framework. For translations, we use i18next.
        There are also a handful of other plugins that we use.  Check out our
        <a href="https://github.com/gazetteerhk/census_explorer/blob/master/frontend/bower.json">bower file</a> for full details.
      </p>

      <h3>Can I download the full dataset?</h3>
      <p>We're working on making the file available as a CSV.  Check back soon for the link.</p>
    </div>
  </div>
</div>
