<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>What is a "gazetteer"?</h3>
      <p>
        Most people may think of "gazette," as in a newspaper, but a gazetteer is actually completely different.
        As early as Ancient Greece, gazetteers were publications that contained geographic and demographic information
        about a location, essentially a geographic dictionary or almanac.
      </p>

      <p>
        Gazetteer HK is a modern day version of this concept.  We collect a variety of data sources
        into a single unified and standardized database, available for anyone to use for whatever the use case.
      </p>
      <p>
        See the Wikipedia entry in <a href="http://en.wikipedia.org/wiki/Gazetteer">English</a> and
        <a href="http://zh.wikipedia.org/wiki/%E5%9C%B0%E6%96%B9%E5%BF%97">Chinese</a> for more history about gazetteers.
      </p>

      <h3>How do I use this?</h3>
      <p>
        If you're interested in seeing visualizations of the data, check out some of our pre-made apps,
        such as the <a href="#/profiles">Neighborhood Profiles</a>, or the <a href="#/choropleth">Data Mapper</a>.
      </p>
      <p>
        If you're interested in using the API, check out the <a href="#/browser">Data Browser</a> for documentation,
        and visit our <a href="https://github.com/gazetteerhk/census_explorer">GitHub page</a> for the source code.
      </p>

      <h3>What kind of use cases are there for Gazetter HK?</h3>
      <ul>
        <li>If you're a journalist, Gazetteer's Census data makes it easy for you to look up background information about a district or neighborhood that you're writing a story on.</li>
        <li>If you're a researcher, you can download our full dataset and join it to your own data for your analysis</li>
        <li>If you're in marketing, you can use our our neighborhood profiles to find out which areas to target</li>
        <li>If you're building an app that requires showing Hong Kong's districts or areas, you can use our GeoJSON
        files to draw the map</li>
        <li>Or maybe you just like open data and cool visualizations (who doesn't?)</li>
      </ul>

      <h3>Where did you get your data?</h3>
      <p>
        The Hong Kong Government has made publicly available a number of official data sets through the <a href="http://data.one.gov.hk">Data.One project</a>.
        The <a href="http://www.gov.hk/en/theme/psi/datasets/2011cdistrictprofiles.htm">2011 Census dataset</a> makes up the bulk of our data,
        but we also use a few others, such as the <a href="http://www.gov.hk/en/theme/psi/datasets/geopublicfacility.htm">public facilities dataset</a>.
        We're also continuing to integrate more datasets into the API.
      </p>

      <h3>How much does it cost to use the API?</h3>
      <p>
        Nothing!  At the moment, we don't have plans to charge for API usage.  Our project is also fully open source,
        and contains the scripts necessary to generate our full dataset from scratch.
      </p>

      <h3>Can I help contribute?</h3>
      <p>
        Absolutely. Check out some of the issues on our issue tracker, fork the code on Github and send a pull request.
        If you have any questions, get in touch with us at <a href="mailto:contact@gazetter.hk">contact@gazetteer.hk</a>.
      </p>

      <h3>What's your stack?</h3>
      <p>
        Our backend API was built with Python using <a href="http://flask.pocoo.org" target="_blank">Flask</a>.
        Flask interacts directly with a <a href="http://pandas.pydata.org" target="_blank">pandas</a> DataFrame to query
        the data, so there is no database involved.
      </p>

      <p>
        Our frontend is built primarily using <a href="http://angularjs.org" target="_blank">AngularJS</a>,
        <a href="http://leafletjs.org" target="_blank">Leaflet</a>, and <a href="http://dimplejs.org" target="_blank">
        dimple</a>, which builds on top of the <a href="http://d3js.org" target="_blank">D3js</a> framework.
        For translations, we use <a href="http://i18next.com" target="_blank">i18next</a>. There are also a handful of
        other plugins and utilities that we use.  Check out our
        <a href="https://github.com/gazetteerhk/census_explorer/blob/master/frontend/bower.json">bower file</a> for full details.
      </p>

      <h3>Can I download the full dataset?</h3>
      <p>We're working on making the file available as a CSV.  Check back soon for the link.</p>
    </div>
  </div>
</div>
