<div class="row">
  <div class="col-md-12">
    <h1>API Browser</h1>
  </div>
</div>

<div>
  Translate by locale? <input type="checkbox" name="translateByLocale" ng-model="translateByLocale">
</div>

<h2>Filters - 
  <small>
    <a href ng-click="clear()">Clear all filters</a>
  </small>
</h2>

<form>
<div class="row">
  <div class="col-md-2 form-group">
    <label>Area - <a href ng-click="clear('area')">clear</a></label>
    <select class="form-control" ng-model="model.area" ng-options="a | translateString:translateByLocale:'area' for a in options.area" ng-change="refresh()"></select>
    {{ options.area.length }} areas
  </div>

  <div class="col-md-2 form-group">
    <label>District - <a href ng-click="clear('district')">clear</a></label>
    <select class="form-control" ng-model="model.district" ng-options="a | translateString:translateByLocale:'district' for a in options.district" ng-change="refresh()"></select>
    {{ options.district.length }} districts
  </div>

  <div class="col-md-2 form-group">
    <label>Region - <a href ng-click="clear('region')">clear</a></label>
    <select class="form-control" ng-model="model.region" ng-options="a | translateString:translateByLocale:'region' for a in options.region" ng-change="refresh()"></select>
    {{ options.region.length }} regions
  </div>

  <div class="col-md-2 form-group">
    <label>Table - <a href ng-click="clear('table')">clear</a></label>
    <select class="form-control" ng-model="model.table" ng-options="a | translateString:translateByLocale:'table' for a in options.table" ng-change="refresh()"></select>
    {{ options.table.length }} tables
  </div>

  <div class="col-md-2 form-group">
    <label>Column - <a href ng-click="clear('column')">clear</a></label>
    <select class="form-control" ng-model="model.column" ng-options="a | translateString:translateByLocale:'column' for a in options.column" ng-change="refresh()"></select>
    {{ options.column.length }} columns
  </div>

  <div class="col-md-2 form-group">
    <label>Row - <a href ng-click="clear('row')">clear</a></label>
    <select class="form-control" ng-model="model.row" ng-options="a | translateString:translateByLocale:'row' for a in options.row" ng-change="refresh()"></select>
    {{ options.row.length }} rows
  </div>
</div>
</form>

<h2>Results -
  <small> Total {{meta.length}} data points, showing {{ model.skip+1 }} - {{ model.skip+model.count }}</small>
</h2>


<!-- <a ng-click="tableParams.page(1)">reload</a>
 -->
<!-- <table ng-table="tableParams" pagination-top template-pagination="custom/pager" class="table"> -->
<!-- This is not in the ngTable version we are using: https://github.com/esvit/ng-table/issues/182 -->
<table ng-table="tableParams" template-pagination="custom/pager" class="table">
  <tr ng-repeat="d in data">
  <td data-title="'Region'">
    {{d.region | translateString:translateByLocale:'region'}}
  </td>
  <td data-title="'District'">
    {{d.district | translateString:translateByLocale:'district'}}
  </td>
  <td data-title="'Area'">
    {{d.area | translateString:translateByLocale:'area'}}
  </td>
  <td data-title="'Table'">
    {{d.table | translateString:translateByLocale:'table'}}
  </td>
  <td data-title="'Row'">
    {{d.row | translateString:translateByLocale:'row'}}
  </td>
  <td data-title="'Column'">
    {{d.column | translateString:translateByLocale:'column'}}
  </td>
  <td data-title="'Value'">
    {{d.value}}
  </td>
  </tr>
</table>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>
            <li>
            <div class="btn-group">
            <button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(10)" class="btn btn-default">5</button>
            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
            </li>
        </ul>
    </script>

<h2>For Developers</h2>

A typical App may look like this:

<pre>
angular.module('frontendApp').controller('MyAppCtrl', ['$scope', 'CensusAPI', function($scope, CensusAPI){

    var q = new CensusAPI.Query({{model}});
    q.addParam('return', 'data');

    q.fetch().then(function(response) {
      // Use response.data
      // You may want to CensusAPI.joinData(response.data)
    }
    ...
</pre>

<h2>Debug section</h2>
Model:
<pre>
  {{ model }}
</pre>
Meta:
<pre>
  {{ meta }}
</pre>