<h1>Map the data</h1>

<h4>Choose an indicator to display on the map to begin</h4>

<div class="row">
  <form class="form-inline">
    <div class="col-md-4">
      <div class="form-group">
        <label>Indicator</label>
        <select class="form-control" ng-model="selectedIndicator" ng-options="i.identifier as i.name for i in indicators"></select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Group</label>
        <select class="form-control" ng-model="selectedGroup" ng-options="g.identifier as g.name for g in groups"></select>
      </div>
    </div>

    <button class="btn btn-primary">Get the data</button>
  </form>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" ng-click="mapLevel = 'ca'">Show areas</button>
    <button class="btn btn-primary" ng-click="mapLevel = 'dc'">Show districts</button>
    <button class="btn btn-primary" ng-click="newData()">New data</button>
  </div>
</div>
<div class="row">
  <hk-choropleth height="600px" class="col-md-12" map-data="areaData" map-level="mapLevel"></hk-choropleth>
</div>

<div class="row">
<pre>
</pre>
</div>
