<h1>Map the Census Data</h1>

<h4>To begin, select a feature to overlay on the map</h4>

<div class="row">
  <form class="form-inline">
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" ng-model="selectedIndicator" ng-options="i as i.name for i in indicators" ng-change="refresh()"></select>
      </div>
    </div>
  </form>
</div>

<div class="row">
    <p></p>
</div>

<div class="row" cg-busy="'globalTracker'">
  <hk-choropleth height="600px" class="col-md-12" map-data="areaData" map-level="mapLevel" map-config="mapConfig"></hk-choropleth>
</div>
