<h1> Get the data</h1>

The data provided by our team can be obtained in the following ways.

<h2> Via API </h2>

<p>
The prefix of API is: <a href="{{api_prefix}}">{{api_prefix}}</a>
</p>
<p>
It is backed by Google App Engine's NDB.
You can pass filtering rules via URL parameters.
Filters are additive so that you can combine them in any ways that suits your application.
API is suitable for application authors who don't want to host the backend database.
We'll walk you through some samples.
</p>

<h3>Get all the options</h3>

<p>
	The API response is composed of the following elements:
	<ul>
		<li><code>meta</code>
			Meta data like execution time.
		</li>
		<li><code>data</code>
			A list of matched values.
		</li>
		<li><code>optios</code>
			Possible options to construct further filters.
		</li>
	</ul>
</p>

<pre><code>$curl {{api_prefix}}
{
  "meta": {
    "execution_time": 23.088539838790894
  }, 
  "options": {
    "ca": [
      "a01", 
      "a02", 
...
      "t08", 
      "t09", 
      "t10"
    ], 
    "column": [
      "Active Households #", 
...
    ], 
    "row": [
      "", 
      "0 -  4", 
      "0 - 14", 
      "1", 
...
    ], 
    "table": [
      "Age Group", 
      "Age Group - Proportion of Population", 
      "Area of Residence 5 Years Ago", 
...
      "Place of Work", 
      "Tenure of Accommodation", 
      "Type of Housing", 
      "Usual Language"
    ]
  }
}hupili@jumping ..._census_explorer/frontend</code></pre>

<h3>Get data of one constituency area</h3>

<pre><code>$curl '{{ api_prefix }}?ca=a01'
{
  "data": [
    {
      "column": "Both Sexes", 
      "constituency_area": {
        "code": "a01", 
        "district": "Central and Western", 
        "name_english": "Chung Wan", 
        "name_simplified": "\u4e2d\u73af", 
        "name_traditional": "\u4e2d\u74b0", 
        "region_english": "Hong Kong Island", 
        "region_simplified": "\u5168\u6e2f", 
        "region_traditional": "\u9999\u6e2f\u5cf6"
      }, 
      "language": "english", 
      "row": "Chinese", 
      "table": "Ethnicity", 
      "value": 11119.0
    }, 
...
</code> </pre>

You can further shrink the searching scope.
For example, I'm interested in the incoming distribution of this area:

<pre><code>$curl '{{api_prefix}}?ca=a01&table=Monthly%20Income%20from%20Main%20Employment%20(HK%24)'
...
</code></pre>

<h3>A live example</h3>

<h2> Raw JSON RESTful Interface </h2>

<p>
The prefix of the interface is: <a href="{{raw_json_prefix}}">{{raw_json_prefix}}</a>
</p>

<p>
The layout is as follows:
</p>

<pre>
<code>.
├── A01
│   ├── sheet0
│   │   ├── table0.json
│   │   ├── table10.json
│   │   ├── table11.json
│   │   ├── table12.json
│   │   ├── table13.json
│   │   ├── table14.json
│   │   ├── table15.json
...</code></pre>

<p>
	You can go to the URL prefix first and navigate through the HK census data set.
	Or you can use it as RESTful interface to query the raw JSON tables converted from Data.One's xlsx files.
</p>

<h2> Download whole archive </h2>

<p>
	The whole dataset can be downloaded from: <a href="{{raw_json_archive}}">{{raw_json_archive}}</a>
This is most suitable for researchers who want to do further processing on the data set.
</p>

<div style="text-align: center">
<span style="display: inline-block">
	<a href="{{raw_json_archive}}">
	<i style="font-size:50px" class="fa fa-download"></i>
	<span style="">
		Download (5.7M)
	</span>
	<span style="position: relative; top: -25px; left: -120px">
		data-clean.tar.gz
	</span>
	</a>
</span>
</div>

