<div class="jumbotron">
  <div class="container text-center">
    <h1>Discover the data side of Hong Kong</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Neighborhood Profiles</h3>
    </div>
    <div class="col-md-4">
      <h3>Data Mapper</h3>
    </div>
    <div class="col-md-4">
      <h3>API Browser</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Want to contribute?  <a href="https://github.com/gazetteerhk/census_explorer">Check us out on Github.</a>
    </div>
  </div>
</div>
