<h1>Placholder for main snippet</h1><p>This will be a randomly selected visualization</p><script type="text/javascript">var svg = dimple.newSvg(".chart-1", 730, 400);

  var Industrydata = [
    {
      "Industry": "Public administration",
      "Gender": "Male",
      "Value": 390
    },
    {
      "Industry": "Public administration",
      "Gender": "Female",
      "Value": 524
    },
    {
      "Industry": "Public administration",
      "Gender": "Both",
      "Value": 914
    },
    {
      "Industry":"Others",
      "Gender": "Male",
      "Value": 0
    },
    {
      "Industry":"Others",
      "Gender": "Female",
      "Value":17
    },
    {
      "Industry":"Others",
      "Gender": "Both",
      "Value":17
    },
    {
      "Industry":"Miscellaneous social and personal services",
      "Gender": "Male",
      "Value": 129
    },
    {
      "Industry":"Miscellaneous social and personal services",
      "Gender": "Female",
      "Value":545
    },
    {
      "Industry":"Miscellaneous social and personal services",
      "Gender": "Both",
      "Value":674
    },
    {
      "Industry":"Real estate, professional and business services",
      "Gender": "Male",
      "Value":690
    },
    {
      "Industry":"Real estate, professional and business services",
      "Gender": "Female",
      "Value":575
    },
    {
      "Industry":"Real estate, professional and business services",
      "Gender": "Both",
      "Value":1265
    },
    {
      "Industry":"Financing and insurance",
      "Gender": "Male",
      "Value": 308
    },
    {
      "Industry":"Financing and insurance",
      "Gender": "Female",
      "Value":350,
    },
    {
      "Industry":"Financing and insurance",
      "Gender": "Both",
      "Value":658
    },
    {
      "Industry":"Information and communications",
      "Gender": "Male",
      "Value": 118
    },
    {
      "Industry":"Information and communications",
      "Gender": "Female",
      "Value": 24
    },
    {
      "Industry":"Information and communications",
      "Gender": "Both",
      "Value": 142
    },
    {
      "Industry":"Accommodation and food services",
      "Gender": "Male",
      "Value": 483
    },
    {
      "Industry":"Accommodation and food services",
      "Gender": "Female",
      "Value": 280
    },
    {
      "Industry":"Accommodation and food services",
      "Gender": "Both",
      "Value": 763
    },
    {
      "Industry":"Transportation, storage, postal and courier services",
      "Gender": "Male",
      "Value":484
    },
    {      
      "Industry":"Transportation, storage, postal and courier services",
      "Gender": "Female",
      "Value":109,
    },
    {
      "Industry":"Transportation, storage, postal and courier services",
      "Gender": "Both",
      "Value":593
    },
    {
      "Industry":"Import/export, wholesale and retail trades",
      "Gender": "Male",
      "Value": 1072    
    },
    {
      "Industry":"Import/export, wholesale and retail trades",
      "Gender": "Female",
      "Value": 854
    },
    {
      "Industry":"Import/export, wholesale and retail trades",
      "Gender": "Both",
      "Value": 1926
    },
    {
      "Industry":"Construction",
      "Gender": "Male",
      "Value": 272
    },
    { 
      "Industry":"Construction",
      "Gender": "Female",    
      "Value": 28
    },
    {
      "Industry":"Construction",
      "Gender": "Both",
      "Value": 300
    },
    {
      "Industry":"Manufacturing",
      "Gender": "Male",
      "Value": 68
    },
    {
      "Industry":"Manufacturing",
      "Gender": "Female",
      "Value": 35
    },
    {
      "Industry":"Manufacturing",
      "Gender": "Both",
      "Value": 103
    }
  ]

  var chart = new dimple.chart(svg, Industrydata);
  console.log(chart);
  chart.addCategoryAxis("y", ["Industry", "Gender"]);
  chart.addMeasureAxis("x", "Value");
  chart.addSeries("Gender", dimple.plot.bar);
  chart.draw();</script><script type="text/javascript"></script><section class="chart-1"></section><section class="chart-2"></section><!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/5f583bc9.yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
 --><div style="height:700px"></div>