body {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* Non-responsive overrides */
.container {
  max-width: none !important;
  width: 1170px;
}


/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
/* Currently unused -- I ended up using nav-brand.  Maybe will bring this back later, since brand is a bit small --Han */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Animations for ng-view */

.view-animate {

}

.view-animate.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}

.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-bottom: 30px;
  color: #777;
  background-color: #333;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Mapping */
.map-overlay {
  font-size: 1.5em;
  /*font-weight: bold;*/
  position: absolute;
  bottom: 2em;
  left: 1em;
  z-index: 100;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.map-legend {
  position: absolute;
  right: 10px;
  margin-right: 10px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  top: 10px;
}

.map-legend ul {
  padding: 5px;
  list-style-type: none;
  margin: 0;
}

.key-symbol {
  display: block;
  width: 10px;
  height: 20px;
  border: #000 1px solid;
  float: left;
  margin-right: 5px;
}

.key-label {
  font-size: 0.8em;
}
